#login-popup{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}

.popup-content {
    display: inline-block;
    flex: 0 0 auto;
}